/* Reset estrutural */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 70px;
}

.painel-principal {
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 900px;
  background-color: #f5f5f5;
  border-top: 4px solid hsl(184, 91%, 49%);
  border-bottom: 4px solid hsl(184, 91%, 49%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.bloco-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bloco-superior .img-quadrada {
  width: 800px;
  height: 900px;
  border-radius: 5px;
}
